<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container body-content">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<!-- unless cheeses exist and cheeses size is not zero-->
<p th:unless="${cheeses} and ${cheeses.size()}">no cheese :(</p>

<table class="table">

    <tr>
        <th>Name</th>
        <th>Description</th>
    </tr>
        <!-- 1st th: - each (for loop) an iterator variable cheese :
        dollar sign/curly brackets tells thymeleaf to look in the model
        for the value of cheeses.-->
        <!--2nd th: - A new li to access the text/data by referencing the iterator variable cheese-->
    <tr th:each="cheese : ${cheeses}">
        <td th:text="${cheese.key}"></td>
        <td th:text="${cheese.value}"></td>
    </tr>

</table>

</body>
</html>